/* Import the font "Poppins" from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: #011e49;
    box-shadow: -5px 0px 40px rgb(0, 28, 141);
    height: 70px;
}

button, a, li {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    background-color: transparent;
}

body {
    background-color: #15141a;
}

.links_nav {
    list-style: none;
}

.links_nav li {
    display: inline-block;
    padding: 0 90px;
    position: relative;
}

.links_nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.links_nav li:hover::after {
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 70px;
    height: 77px;
}

.logo-text {
    font-size: 35px; 
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(41, 41, 41, 0.6);
    margin-left: 15px; 
    font-weight: 600;
}

.main-content {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.content-cointainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-section {
    margin: 20px 10%;
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
    align-items: center;
}

#searchInput {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#tagFilter {
    padding: 10px;
    font-size: 16px;
}

.questions-list ul {
    list-style: none;
    padding: 0;
    margin: 20px 10%;
}

.questions-list li {
    background-color: #20212a;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
}

.question-tags {
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 5px;
}

.question-title a {
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
}

.question-title a:hover {
    color: #0a52be; /* Muda a cor ao passar o mouse */
}