/* Import the font "Poppins" from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #15141a;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #011e49;
    box-shadow: -5px 0px 40px rgb(1, 37, 180);
    height: 70px;
}

button, a, li {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    background-color: transparent;
}

.links_nav {
    list-style: none;
    display: flex;  
    gap: 40px;
}

.links_nav li {
    position: relative;
}

.links_nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.links_nav li:hover::after {
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    width: 70px;
    height: 77px;
}

.logo-text {
    font-size: 35px; 
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-left: 15px; 
    font-weight: 600;
}

.main-content {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border: 2px solid #0a52be;
    border-radius: 8px;
    min-height: 550px;
    max-width: 1200px;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-cointainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-section {
    margin: 20px 10%;
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
    align-items: center;
}

#searchInput {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#tagFilter {
    padding: 10px;
    font-size: 16px;
}

#difficultyFilter {
    padding: 10px;
    font-size: 16px;
}

.questions-list ul {
    list-style: none;
    padding: 0;
    margin: 20px 10%;
}

.questions-list li {
    background-color: #20212a;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
}

.question-tags {
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 5px;
}

.question-title a {
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
}

.question-title a:hover {
    color: #0a52be; 
}

.question-info {
    display: flex;
    gap: 20px; 
    margin-top: 10px;
    font-size: 14px;
    color: #bdbdbd;
    align-items: center;
}

.question-info span {
    display: flex;
    align-items: center;
}

.question-info i {
    margin-right: 5px;
    color: #0a52be;
}

.highlight {
    color: #56d364; 
}

.status i.fa-check-circle {
    color: #56d364; 
}

.status i.fa-times-circle {
    color: #e74c3c; 
}

#back-top-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #011e49;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;  
    right: 15px;
    transition: background-color 0.3s, opacity 0.5s ease, visibility 0.5s ease;;
    opacity: 0;
    visibility: hidden; 
    z-index: 1000;
}   

#back-top-button i {
    font-size: 32px;
    color: whitesmoke;
    text-shadow: #20212a;
}

#back-top-button.show {
    opacity: 1;
    visibility: visible;
}